includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
        # env() is correctly used in config files
        - identifier: larastan.noEnvCallsOutsideOfConfig
